1.What are data structures, and why are they important?

-Data structures are ways of organizing and storing data so that operations like retrieval, updating, and deletion can be performed efficiently. They are important because they help manage large amounts of data, optimize performance, and make programs more efficient and easier to manage.

2.Explain the difference between mutable and immutable data types with examples ?

-Mutable: Can be changed after creation. Example: list, dict, set

In [2]:
my_list = [1, 2, 3]
my_list.append(4)

-Immutable: Cannot be changed after creation. Example: int, str, tuple

In [3]:
my_str = "hello"
my_str = my_str.upper()

3.What are the main differences between lists and tuples in Python?

-The main differences between lists and tuples in Python are.


1.   Lists use square brackets [], tuples use round brackets ().
2.   Lists can be changed (mutable), tuples can’t (immutable).

3.   Tuples are generally faster and used when we don’t want the data to be changed.

4.Describe how dictionaries store data?

-Dictionaries store data in key-value pairs. It’s like having a label (the key) for each piece of data (the value), so you can find stuff easily. Example:

In [ ]:
person = {"name": "Alice", "age": 25}

Here, "name" and "age" are keys, and "Alice" and 25 are their values.

5.Why might you use a set instead of a list in Python?

-Sets automatically remove duplicates. So if you don’t want repeated items and just want a collection of unique stuff, use a set. Also, checking if something is in a set is usually faster.

6.What is a string in Python, and how is it different from a list?

-A string is just a series of characters (like words or sentences). A list can hold anything — numbers, words, even other lists. The big difference is: you can change a list, but you can’t change a string (strings are immutable).

7.How do tuples ensure data integrity in Python?

-Since tuples can’t be changed after they’re created, the data stays safe and untouched. This helps make sure no one (not even accidentally) changes the values, which is good when you want to protect important data.

8.What is a hash table, and how does it relate to dictionaries in Python?

-A hash table is a data structure that lets you find data really fast using a "key". Python dictionaries are built using hash tables. So when you use a dictionary, Python uses a hash table behind the scenes to find and store things quickly.

9.Can lists contain different data types in Python?

-Yes! A Python list can hold all sorts of things — numbers, strings, other lists, and even a mix of all of them together.

In [4]:
my_list = [1, "hello", 3.14, [5, 6]]

10.Explain why strings are immutable in Python?

-Strings are immutable for safety and performance. If lots of programs are using the same string, it’s better if no one can change it by mistake. Also, Python can optimize memory better this way.

11.What advantages do dictionaries offer over lists for certain tasks?

-Dictionaries are great when you need to look things up quickly using a name or label (key). They’re faster for finding specific items than lists, especially if you have a lot of data.

12.Describe a scenario where using a tuple would be preferable over a list?

-If you have data that shouldn’t change — like the days of the week or coordinates of a location — use a tuple. It’s safer and tells others that this data is fixed.

13.How do sets handle duplicate values in Python?

-Sets automatically remove duplicates. So if you add the same item twice, it’ll only be stored once.

In [5]:
my_set = {1, 2, 2, 3}
# Result: {1, 2, 3}

14.How does the “in” keyword work differently for lists and dictionaries?

-In a list, "in" checks if a value exists.

-In a dictionary, "in" checks if a key exists (not a value).

In [6]:
# List
3 in [1, 2, 3]  # True

# Dictionary
"age" in {"name": "Tom", "age": 20}  # True

True

15.Can you modify the elements of a tuple? Explain why or why not?

-No, you can’t. Tuples are immutable, which means once they’re made, they stay the same. You can’t add, remove, or change any values in them.

16. What is a nested dictionary, and give an example of its use case?

-A nested dictionary is a dictionary inside another dictionary. It’s useful for storing complex data, like info about students:

In [7]:
students = {
  "John": {"age": 20, "grade": "A"},
  "Sara": {"age": 22, "grade": "B"}
}

17.Describe the time complexity of accessing elements in a dictionary?

-Accessing items in a dictionary is usually O(1) — which means it’s very fast and doesn’t depend on how many items are in it.

18. In what situations are lists preferred over dictionaries?

-When you just need a simple, ordered collection of items and don’t need labels or keys — like storing numbers, names, or tasks — lists are better and easier.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

-Before Python 3.7, dictionaries didn’t keep the order of items. Now they mostly do, but they’re still considered “unordered” because the main focus is on keys, not the order. This means you shouldn’t rely on the order things were added.

20.Explain the difference between a list and a dictionary in terms of data retrieval?

-List: You get items by their position (index), like list[0]

-Dictionary: You get items by their key, like dict["name"].

Dictionaries are faster for finding things if you know the key.

---

                                                         ***Practical Answers***

---

1.Write a code to create a string with your name and print it?

-We can just store our name inside quotes and then print it. For example, if my name is Rahul:

In [ ]:
name = "Rahul"
print(name)

This will simply show “Rahul” on the screen.

2.Write a code to find the length of the string "Hello World".

-We use the len() function to count how many characters are in a string, including spaces.

In [ ]:
text = "Hello World"
print(len(text))

This will print 11, because there are 11 characters (including the space between the words).

3.Write a code to slice the first 3 characters from the string "Python Programming".

-Slicing means cutting out a part of the string. To get the first 3 letters:

In [8]:
text = "Python Programming"
print(text[:3])

Pyt

4.Write a code to convert the string "hello" to uppercase.

-We can use the .upper() function which changes all letters to capital.

In [9]:
text = "hello"
print(text.upper())

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

-We use the .replace() function:

In [10]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it.

In [11]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [12]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [13]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [14]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [15]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Create a tuple with the elements 100, 200, 300 and print it.

In [16]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12.Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [17]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13.Find the minimum number in the tuple (10, 20, 5, 15).

In [18]:
nums = (10, 20, 5, 15)
print(min(nums))

5

14.Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [19]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15.Create a tuple with three different fruits and check if "kiwi" is in it.

In [20]:
fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

16.Create a set with the elements 'a', 'b', 'c' and print it.

In [21]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

17.Clear all elements from the set {1, 2, 3, 4, 5}.

In [22]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

18.Remove the element 4 from the set {1, 2, 3, 4}.

In [23]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19.Find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [24]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

20.Find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [25]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

21.Create a dictionary with the keys "name", "age", and "city", and print it.

In [26]:
person = {"name": "John", "age": 25, "city": "Delhi"}
print(person)

{'name': 'John', 'age': 25, 'city': 'Delhi'}

22.Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [27]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [28]:
data = {'name': 'Alice', 'age': 30}
print(data['name'])

Alice

24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [29]:
info = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del info['age']
print(info)

{'name': 'Bob', 'city': 'New York'}

25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [30]:
data = {'name': 'Alice', 'city': 'Paris'}
print("city" in data)

True

26.Write a code to create a list, a tuple, and a dictionary, and print them all.

In [31]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 10, 'b': 20}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 10, 'b': 20}

27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [32]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[12, 47, 52, 65, 84]

28.Write a code to create a list with strings and print the element at the third index.

In [33]:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

29.Write a code to combine two dictionaries into one and print the result.

In [34]:
a = {"name": "Tom"}
b = {"age": 30}
combined = {**a, **b}
print(combined)

{'name': 'Tom', 'age': 30}

30.Write a code to convert a list of strings into a set.

In [35]:
words = ["apple", "banana", "apple", "orange"]
word_set = set(words)
print(word_set)

{'orange', 'banana', 'apple'}